.home {
    height:100%;
    width: 100%;
    align-items: center;
 
  }
  .slider-item {
    text-align: center;
    width: 100%;
  }
  .responsive {
    width: 100%;
    height: auto;
  }
  .slider-item img {
    max-height: 600px;
  }
  .emailbutton {
   font-family: 'Lato';
    display:block;
    font-size: 15px;

    border-radius: 25px;
    text-decoration:None;
    background-color: black;
    border: None !important;
    color: white;
    cursor:pointer;
   padding:2%;
    
   }
  .content{display: flex;}
  .abt{
    width:500px;
    height:500px;
  }
  
  .about {
    width: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    color: black;
  }
  .picture{
    margin-top:1%;
    width:90%;
    height:20%;
  }
  
  .about h2 {
   
    font-size: 80px;
    color: black;
    height: 50px;
  }
  
  .about .prompt {
    width: 70%;
    font-size: 30px;
  }
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: black;
  }
  
  .skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .skills h1 {
    color: black;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }

  .carousel{
   
    width: 100% !important;
    height: 100%;
    margin-left:5%; 
   
}


  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 20px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 60%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }

  .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  * {
    box-sizing: border-box;
  }
  .skillset{
    align-items: left;
  }
  .rating {
    width: 120px;
    height: 24px;
    position: relative;
    background-color: light-gray;
  }
  
  .rating progress.rating-bg {
    -webkit-appearance: none;
    -moz-appearence: none;
    appearance: none;
    border: none;
    display: inline-block;
    height: 24px;
    width: 100%;
    color: wheat;
  }
  
  .rating progress.rating-bg::-webkit-progress-value {
    background-color: wheat;
  }
  
  .rating progress.rating-bg::-moz-progress-bar {
    background-color: wheat;
  }
  
  .rating svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .cartItem {
    width: 700px;
    height: 250px;
    display: flex;
  
    align-items: center;
    box-shadow: 0px 3px 15px wheat;
    border-radius: 25px;
    margin: 30px;
  }
  
  .cartItem img {
    width: 200px;
  }
  
  .cartItem .description {
    width: 100%;
    font-size: 30px;
  }
  
  .countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
  }
  
  .checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }