

.navbar {
 align-items: center;
      width: 100%;
     font-weight:800;
   
    box-shadow: 0px 3px 15px wheat;
   
    }
  
    .navbar-collapse.collapse {
      display: block!important;
      }
      
      .navbar-nav>li, .navbar-nav {
      float: left !important;
      }
      
      
      .navbar-nav.navbar-right:last-child {
      
      }
      
      .navbar-right {
      float: right!important;
      }
  
    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 
    .links{
      width:100%;
      text-align: center;
      min-width: -webkit-fill-available;
  display:flex;
    }
    .links:active {
      color: whitesmoke;
    }
    .btn:focus{
      background-color: whitesmoke;
    
      color:black;
     
    }
    .btn:active{
      color:whitesmoke;
      box-shadow: 0 5px 15px whitesmoke;
    }
    .btn {
      width:100%;
      border: none;
      outline: none;
      padding: 2%;
     
      cursor: pointer;
    }
    
    /* Style the active class (and buttons on mouse-over) */
   .btn:hover {
    box-shadow: 0 5px 15px whitesmoke;
      background-color: whitesmoke;
      color:black;

      
    }
    .btn .active{
      background-color: wheat;
    }
  
  
    .logo{
   
 
    }
    
    .links a {
      
      width: 100% !important;
      text-decoration: none;
     color:white;
     
      font-size: 23px;
    }
  
    
    
.toggleButton {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 50px;
}
.toggleButton button {
 
  background-color: transparent;
  border: none;
  color:white;
  cursor: pointer;
}

#open {
  box-shadow: None !important;
  height: 10%vh;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
 
}

#open a {
  width: 100%;

  text-align: center;
}

@media only screen and (max-width: 900px) {
  .navbar a {
    width: 100% !important;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .navbar{
    box-shadow: None !important;
  }
  .toggleButton {
    display: flex;
  }
  #close a {
    width: 100% !important;
    display: none;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 10%;
    text-align: center;
  }

  #open .links {
    flex-direction: row;
    text-align: center;
  }
}
  